<p style="margin: 10px;">   FALTA IMPLEMENTAR EL HTML </p>
<div style="margin: 20px;">
    <label >id: </label><p>{{currentDetalleLista.idPuestoTrabajo}}</p>
    <label >nombre: </label><p>{{currentDetalleLista.nombrePuestoTrabajo}}</p>
    <label >descripcion: </label><p>{{currentDetalleLista.descripcionPuestoTrabajo}}</p>
    <label >sueldo: </label><p>{{currentDetalleLista.sueldoPuestoTrabajo}}</p>
    <label >experiencia:  </label><p>{{currentDetalleLista.experienciaPuestoTrabajo}}</p>
    <label >nombre usuario: </label><p>{{currentDetalleLista.nombreEmpresa}}</p>
    <label >direccion: </label><p>{{currentDetalleLista.direccionEmpresa}}</p>
    <label >telefono: </label><p>{{currentDetalleLista.telefonoEmpresa}}</p>
    <label >email: </label><p>{{currentDetalleLista.emailEmpresa}}</p>
</div>




